{
  "extends": ["alloy", "alloy/typescript"],
  "env": {},
  "globals": {},
  "rules": {
    "max-params": 0,
    "@typescript-eslint/consistent-type-assertions": [
      "error",
      {
        "assertionStyle": "as",
        "objectLiteralTypeAssertions": "allow-as-parameter"
      }
    ]
  }
}
