.sign {
  cursor: pointer;
}
.signSVG {
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.tipContent {
  padding: 0 0.5rem;
  width: 300px;
}

.entryForm {
  width: 100%;
  height: 100%;
}

.entryForm header {
  text-align: center;
}

.entryForm input,
.entryForm button,
.entryForm textarea {
  margin-top: 20px;
  width: 100%;
  height: 35px;
  font-weight: bold;
}

.entryForm textarea {
  resize: none;
  height: 80px;
}

.entryForm button {
  resize: none;
  height: 40px;
}

.entryForm footer {
  margin-top: 20px;
  color: #4d4d4d;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
}

.entryForm button {
  margin-top: 30px;
}

.entryDesc {
  width: 100%;
  height: 100%;
  text-align: center;
}

.entryDesc footer {
  margin-top: 20px;
  color: #4d4d4d;
  font-weight: bold;
  font-size: 12px;
}

.entryDesc img {
  width: 200px;
}

.entryDesc article {
  margin-top: 16px;
  font-size: 13px;
}
